body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #56CCF2, #2F80ED);
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    background-color: #27AE60;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}

#weather-info, .wardrobe-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

#weather-info {
    background-color: rgba(255, 255, 255, 0.3);
}

.wardrobe-container {
    background-color: rgba(0, 0, 0, 0.3);
}

#weather-icon, #wardrobe-icon {
    font-size: 50px;
}

.gender-selection {
    margin-bottom: 10px;
}

.gender-selection button {
    margin: 5px;
    background-color: #2F80ED;
}
